<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold">Thêm chương trình</h2>
    <form id="programForm" class="mt-4" action="/addProgram" method="POST">
        <input type="text" id="name" name="name" placeholder="Tên chương trình" required class="p-2 border rounded w-full mb-2">
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Thêm chương trình</button>
</div>
<script>
    const programForm = document.getElementById('programForm');
    programForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const name = document.getElementById('name').value;
        fetch('/addProgram', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name})
        })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    alert('Thêm chương trình thành công');
                } else {
                    alert('Thêm chương trình thất bại');
                }
                programForm.reset();
            });
    });
</script>