<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold">{{__ "STATUS.add"}}</h2>
    <form id = "facultyForm" class="mt-4" action="/addStatus" method="POST">
        <input type="text" id="name" name="name" placeholder="{{__ "STATUS.inputStatusName"}}" required class="p-2 border rounded w-full mb-2">
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">{{__ "STATUS.add"}}</button>
</div>
<script>
    const facultyForm = document.getElementById('facultyForm');
    facultyForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const name = document.getElementById('name').value;
        fetch('/addStatus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name})
        })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    alert('Thêm trạng thái thành công');
                } else {
                    alert('Thêm trạng thái thất bại');
                }
                facultyForm.reset();
            });
    });
</script>