<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold">{{__ "STATUS.add"}}</h2>
    <form id = "facultyForm" class="mt-4" action="/addStatus" method="POST">
        <input type="text" id="name" name="name" placeholder="{{__ "STATUS.inputStatusName"}}" required class="p-2 border rounded w-full mb-2">
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">{{__ "STATUS.add"}}</button>
</div>
<script src="https://unpkg.com/i18next@21.6.3/i18next.min.js"></script>
<script src="https://unpkg.com/i18next-http-backend@1.4.3/i18nextHttpBackend.min.js"></script>
<script src="https://unpkg.com/i18next-browser-languagedetector@6.1.2/i18nextBrowserLanguageDetector.min.js"></script>
<script src="/js/i18n-init.js"></script>
<script>
     document.addEventListener('DOMContentLoaded', async () => {
        await window.i18nReady;
    });
    const facultyForm = document.getElementById('facultyForm');
    facultyForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const name = document.getElementById('name').value;
        fetch('/addStatus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name})
        })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    alert(i18next.t('alert.addSucc'));
                } else {
                    alert(i18next.t('alert.addFault'));
                }
                facultyForm.reset();
            });
    });
</script>