<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-3xl font-bold text-center text-gray-700">Tìm kiếm Sinh Viên</h2>
    <div>
        <button onclick="exportCSVList()" class="my-6 bg-blue-500 hover:bg-blue-600 text-white font-bold p-3 rounded-lg">
            Export CSV
        </button>
        <button onclick="exportExcelList()" class="my-6 bg-blue-500 hover:bg-blue-600 text-white font-bold p-3 rounded-lg">
            Export Excel
        </button>

    </div>
    <!-- Form tìm kiếm với hai cột -->
    <div class="grid grid-cols-2 gap-4">
        <!-- Ô nhập MSSV -->
        <input type="text" id="searchMSSV" placeholder="Nhập MSSV"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        
        <!-- Ô nhập Họ Tên -->
        <input type="text" id="searchName" placeholder="Nhập Họ Tên"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Nút tìm kiếm -->
    <button onclick="searchStudent()" 
        class="w-full mt-6 bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 rounded-lg transition duration-300">
        Tìm Kiếm
    </button>

    <!-- Kết quả -->
    <div id="studentListContainer" class="mt-6 p-4 bg-gray-100 rounded-lg max-h-[600px] overflow-auto">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">Danh sách sinh viên</h3>
        <div id="studentList" class="grid grid-cols-2 gap-6"></div>
    </div>
</div>

<script src="/js/search.js"></script>