<nav class="bg-blue-500 p-4 text-white flex justify-around">
    <a href="/" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Thêm sinh viên</a>
    <a href="/delete" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Xóa sinh viên</a>
    <a href="/update" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Cập nhật sinh viên</a>
    <a href="/search" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Tìm kiếm sinh viên</a>
</nav>
<nav class="bg-blue-500 p-4 text-white flex justify-around">
    <a href="/addFacultyPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Thêm khoa</a>
    <a href="/updateFacultyPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Sửa khoa</a>
    <a href="/addStatusPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Thêm trạng thái</a>
    <a href="/updateStatusPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Sửa trạng thái</a>
    <a href="/addProgramPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Thêm chương trình</a>
    <a href="/updateProgramPage" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Sửa chương trình</a>
</nav>