<nav class="bg-blue-500 p-4 text-white flex justify-around">
    <a href="/" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Thêm sinh viên</a>
    <a href="/delete" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Xóa sinh viên</a>
    <a href="/update" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Cập nhật sinh viên</a>
    <a href="/search" class="px-4 py-2 rounded-lg hover:bg-blue-600 transition">Tìm kiếm sinh viên</a>
</nav>