<nav class="bg-blue-500 p-4 text-white flex justify-around">
    <a href="/" class="hover:underline">Thêm sinh viên</a>
    <a href="/delete" class="hover:underline">Xóa sinh viên</a>
    <a href="/update" class="hover:underline">Cập nhật sinh viên</a>
    <a href="/search" class="hover:underline">Tìm kiếm sinh viên</a>
</nav>